# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_SUBDOMAIN=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_D1_PREVIEW_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

NUXT_TURNSTILE_SECRET_KEY=
NUXT_PUBLIC_TURNSTILE_SITE_KEY=

NUXT_PUBLIC_SCRIPTS_UMAMI_ANALYTICS_SCRIPT_INPUT_SRC=https://umami.is/script.js
NUXT_PUBLIC_SCRIPTS_UMAMI_ANALYTICS_WEBSITE_ID=

NUXT_SITE_URL=
